* {
   box-sizing: border-box;
}

:root {
   --bckg-n-hoover: hsl(47, 88%, 63%);
   --card-color: hsl(0, 0%, 100%);
   --text-color: hsl(0, 0%, 7%);
   --p-color: hsl(0, 0%, 42%);
   --link-color: hsl(228, 45%, 44%);

   --space-xs: 0.25rem;
   --space-sm: 0.75rem;
   --space-md: 1.5rem;

   --radius-sm: 0.25rem;
   --radius-md: 0.625rem;
   --radius-lg: 1.25rem;
}

main {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: var(--space-md);
}

body {
   display: flex;
   flex-direction: column;
   background-color: var(--bckg-n-hoover);
   margin: 0;
   min-height: 100vh;
   font-family: "Figtree", sans-serif;
   font-weight: 500;
   font-size: 14px;
}


.card {
   background-color: var(--card-color);
   color: var(--text-color);
   width: 100%;
   max-width: 24rem;
   border: 1px solid black;
   border-radius: var(--radius-lg);
   padding: var(--space-md);
   box-shadow: 0.5rem 0.5rem 0 black;
   text-align: start;
}

h1 {
   font-size: 1.5rem;
   margin-block: 0 var(--space-sm);
   font-weight: 800;
   line-height: 1.5;
}

.illustration {
   display: block;
   border-radius: 10px;
   width: 100%;
}

.text{
   margin-block-start: var(--space-md);
}

.learning {
   display: inline-block;
   background-color: var(--bckg-n-hoover);
   padding: var(--space-xs) var(--space-sm);
   border-radius: var(--radius-sm);
   margin-block: 0 var(--space-sm);
   font-weight: 800;
   line-height: 1.5;
}

.published {
   margin-block: 0 var(--space-sm);
   line-height: 1.5;
}

.content {
   color: var(--p-color);
  font-size: 1rem;
   margin-block: 0 var(--space-md);
   line-height: 1.5;
}

h1 a {
   color: var(--text-color);
   text-decoration: none;
}

h1 a:hover {
   color: var(--bckg-n-hoover);
}

.author {
   display: flex;
   align-items: center;
   gap: var(--space-sm);
}

.name {
   margin: 0;
   font-weight: 800;
   line-height: 1.5;
}

.avatar {
   width: 2rem;
   height: 2rem;
}

.attribution {
   font-size: 0.6875rem;
   text-align: center;
}

.attribution a {
   color: var(--link-color);
}